@media screen and (max-width:1400px){
	.m-slider__item {
	    min-height: 500px;
	}
	.slick-prev {
	    left: 15px;
    }
    .slick-next {
	    right: 15px;
	}
	.head-mid--tune {
	    padding: 15px 0;
	}
	.common-dist {
	    padding: 40px 0px;
	}
	.footer-dist {
	    margin-top: 40px;
	}
	.m-slider--tune {
	    margin-bottom: 30px;
	}
	.title-dist {
	    margin-bottom: 40px;
	}
	.goods__selector {
	    margin-bottom: 50px;
	}
}


@media screen and (max-width:1300px){
	.m-slider .slick-arrow {
	    bottom: 20px;
	    margin-left: 0;
	}
	.slick-arrow {
		top: auto;
	    width: 50px;
	    height: 50px;
	    bottom: 0;
	    margin-top: 0;
	}
	.slick-next {
	    right: auto;
	    left: 85px;
	}
}

@media screen and (max-width:1250px){
	.head-mid__btn {
	    width: 40px;
	    height: 40px;
	}
	.head-mid__btn:before, .head-mid__btn:after {
	    width: 15px;
	    height: 15px;
	    margin-top: -7px;
	    margin-left: -7px;
	}
	.head-mid__logo {
	    width: 45px;
	    min-width: 45px;
	    overflow: hidden;
	}
	.head-mid__img {
	    min-width: 175px;
	}
	input.xsearch__input {
	    font-size: 13px;
	    padding: 15px 20px 15px 45px;
	}
	input.xsearch__submit {
	    min-width: 90px;
	    width: 90px;
	    font-size: 11px;
	    padding: 5px 15px;
	}
	.xsearch__wr-input:before {
	    left: 15px;
	}
	.head-mid__wrap {
	    width: 100%;
	    margin-left: 50px;
	}
	.head-mid--tune {
	    padding: 10px 0;
	}
	.basket__name {
	    font-size: 14px;
	}
	.basket__subname {
	    font-size: 12px;
	}
	.head-top__log-link {
	    font-size: 13px;
	}
	.head-top__call {
	    font-size: 13px;
	}
	.head-top__phone {
	    font-size: 13px;
	}
	.head-top__slogan {
	    font-size: 13px;
	}
	.m-slider__item {
	    min-height: 450px;
	}
}

@media screen and (max-width:1200px){
	.menu__item {
	    max-height: 44px;
	}
	.menu__link {
	    font-size: 15px;
	    padding: 12px 15px;
	}
	.menu__item--katalog .menu__link {
	    padding: 12px 15px 12px 65px;
	}
	.load-more__link {
	    padding: 15px 0;
	}
}

@media screen and (max-width:1150px){
	.goods__product {
	    width: 33.333%;
	}
	.product__content {
	    padding: 0 15px 30px;
	}
	.news_inner {
	    border-right: none;
	    padding-bottom: 65px;
	}
	.news__item {
		border-right: 1px solid #e5e7e4;
	}
	.slick-prev {
	    left: 0px;
	}
	.slick-next {
	    left: 70px;
	}
	.m-slider .slick-prev {
	    left: 15px;
	}
	.m-slider .slick-next {
	    left: 85px;
	}
}

@media screen and (max-width:1050px){
	.subscribe__inner {
	    padding: 25px 30px;
	}
	.subscribe__form {
	    margin-left: 30px;
	}
	.katalog-list__item {
	    padding: 20px;
	}
	.katalog-list__item {
	    width: 33.333%;
	}
	.partners__inner {
	    border-right: none;
	    padding-bottom: 72px;
	}
	.partners .slick-list,
	.news .news__item {
		border-right: 1px solid #e5e7e4;
	}
	.news__item {
	    padding: 20px 20px;
	    border-right: none;
	}
	.banner__inner {
	    min-height: 235px;
	}
	.banner__title {
	    font-size: 27px;
	}
	.subscribe .subscribe__body {
		-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	.about__image {
	    display: none;
	}
	.about__info {
	    width: 100%;
	    max-width: 100%;
	}
	.footer__land-inner {
	    padding: 15px 0;
	}
	.footer__inner {
	    padding: 60px 0;
	}
	.footer__nav {
		-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.footer__menu {
	    width: 100%;
	    max-width: 265px;
	}
	.footer__menu-shop {
	    margin-bottom: 30px;
	}
	.footer__links {
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    text-align: right;
	}
	.footer__politic {
	    margin-right: 0;
	    margin-left: auto;
	    margin-bottom: 5px;
	}
	.footer__wr-xsite {
	    width: 100%;
	    max-width: 100%;
	}
}
@media screen and (max-width:1000px){
	.advantages__inner {
	    padding-bottom: 72px;
	}
	.advantages__inner {
		margin: 0;
	}
	.advantages__inner .slick-list {
		margin: 0 -10px;
	}
	.goods__selector-item {
	    font-size: 16px;
	    padding: 14px 0;
	    margin-right: 35px;
	    white-space: nowrap;
	}
	h1, h2, .title {
	    font-size: 29px;
	}
}
@media screen and (max-width:960px){
	.buttonMenu{
		display:block;
		margin-left: auto;
    	margin-right: 0;
    	padding-right: 0;
    	width: 50px;
	}
	.show_menu header nav .menu_container {
		left: 0;
	}
	header .top_container .email{
		display:none;
	}
	header nav .menu_container {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		left: -100%;
		bottom: 0;
		z-index: 99;
		background: rgba(0, 0, 0, 0.33);
		transition: .3s all;
	}
	header nav .menu_container .close, 
	header nav .menu_container .close:before {
		width: 55px;
		height: 55px;
		background: #121212;
		content: "";
		display: block;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	header nav .menu_container .close:before {
		width: 24px;
		height: 22px;
		background: url(../images/icons/close-white.svg) no-repeat 50% 50%;
		background-size: contain;
		margin: 16px;
		z-index: 2;
	}
	header nav .menu_container .menu_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 55px;
		bottom: 0;
		background: #fff;
		overflow: auto;
		/*padding: 15px 15px 205px;*/
	}
	header nav ul, 
	header nav ul li{
		width:100%;
		margin:0;
	}
	header nav ul li a{
		border-bottom:1px solid #dbe0e2;
		padding-left:0;
		padding-right:0;
		position: relative;
	}
	header nav ul li a:hover{
		background:none;
	}
	body.show_menu {
		overflow: hidden;
	}
	header nav .menu_container .menu_wrapper .footer{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:#fff;
		padding:15px 15px 0;
		display:block;
	}
	header nav .menu_container .menu_wrapper .footer a{
		padding:0;
	}
	header nav .menu_container .menu_wrapper .footer .phone{
		font-size:20px;
		color: #0b0d0a;
	}
	header nav .menu_container .menu_wrapper .footer .email{
		color: #0b0d0a;
		margin: 10px 0 20px;
		text-transform:none;
	}
	header nav .menu_container .menu_wrapper .footer .btn{
		padding: 9px 15px;
	}
	header nav .menu_container .menu_wrapper .footer .bottom_line{
		background:#eee;
		color:#767676;
		margin-left:-15px;
		margin-right:-15px;
		margin-top:20px;
		padding:8px 15px;
		font-size:12px;
	}

	header nav .menu_wrapper .menu_wrapper_inner {
	    position: relative;
	    padding: 15px 15px 205px;
	    min-height: 100vh;
	    box-sizing: border-box;
	}

	header nav .menu_wrapper ul li.menu-item-has-children ul{
    	position: static;
	    margin-top: 0;
	    opacity: 1;
	    background: #fff;
	    padding: 0;
	    border-radius: 0;
	    min-width: auto;
	}
	header nav .menu_wrapper ul li.menu-item-has-children > a:after {
	    content: "";
	    display: block;
	    width: 9px;
	    height: 10px;
	    position: absolute;
	    top: 50%;
	    margin-top: -5px;
	    right: 10px;
	    background: url(../images/right-arrow.svg) no-repeat 0 0;
	    background-size: contain;
	    -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    transform: rotate(90deg);
	    transition: .3s all;
	}
	header nav .menu_wrapper ul li.menu-item-has-children > a.rotate:after {
	    content: "";
	    -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	    -webkit-transform: rotate(270deg);
	    -o-transform: rotate(270deg);
	    transform: rotate(270deg);
	    transition: .3s all;
	    margin-left: -3px;
	    margin-top: -7px;
	    transition: .3s all;
	}
	header nav .menu_wrapper ul > li > ul {
	    opacity: 1;
	    box-shadow: none !important;
	    display: none;
	    transition: .3s all;
	}
	header nav .menu_wrapper ul li ul.sub-menu li {
	    overflow: initial;
	}
	header nav .menu_wrapper ul li ul.sub-menu li a{
	    padding: 15px 25px;
	}
	.menu__list {
	    margin-left: 0;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	}
	.menu__link {
	    display: block;
	}
	.menu-kat {
		display: none;
	}
	.menu__item--katalog .menu__link {
	    padding: 12px 15px 12px 50px;
	}
	.menu__link--katalog:before, 
	.menu__link--katalog:after {
	    left: 15px !important;
	}
	.head-mid__push {
	    margin: 0 0px 0 15px;
	}
	.wr-search--dist {
	    display: block;
	}
}

@media screen and (max-width:950px){
	.head-top__slogan {
		display: none;
	}
	.head-top__wrap {
	    width: 100%;
	}
	.head-top__log {
	    margin-left: 0px;
	}
	.head-top__call {
        margin-left: 0;
	    margin-right: 20px;
	    margin-left: auto;
	}
	.subscribe__form {
	    width: 60%;
	}
	.help__inner:after {
	    width: 235px;
	    height: 405px;
	    right: 35px;
	}
	.help__inner {
	    padding: 20px 30px;
	}

}

@media screen and (max-width:900px){
	.cities__ul {
	    -moz-column-count: 3;
	    -webkit-column-count: 3;
	    column-count: 3;
	}
	.common-dist {
	    padding: 25px 0px;
	}
	.footer-dist {
	    margin-top: 30px;
	}
	.head-mid__wrap {
	    margin-left: 30px;
	}
}
@media screen and (max-width:850px){
	.subscribe .subscribe__body {
		display: block;
		text-align: center;
	}
	.subscribe__title {
	    max-width: 100%;
	    width: 100%;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.subscribe__form {
	    width: 100%;
	    margin-left: 0;
	}
}
@media screen and (max-width:800px){
	.goods__product {
	    width: 50%;
	}
	.banner__inner {
	    padding: 30px 30px;
	}
	h1, h2, .title {
	    font-size: 27px;
	}
}
@media screen and (max-width:700px){
	.head-mid_search {
		display: none;
	}
	.head-mid__wrap {
		-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	    justify-content: flex-end;
	}
	.cities__wr-more {
	    text-align: center;
	}
}
@media screen and (max-width:700px){
	.m-slider__info {
	    max-width: 100%;
	    text-align: center;
	}
	.m-slider__title {
	    text-align: center;
	}
	.m-slider__title {
	    font-size: 27px;
	    line-height: 120%;
	}
	.m-slider .slick-arrow {
		bottom: 20px;
	}
	.slick-arrow {
		bottom: 0;
	    left: 50%;
	    margin-left: -60px;
	}
	.m-slider .slick-arrow {
	    left: 50%;
	    margin-left: -60px;
		bottom: 20px;
	}
	.slick-next,
	.m-slider .slick-next {
	    right: auto;
	    left: 50%;
	    margin-left: 5px;
	}
	.advantages .slick-prev {
	    left: 50%;
	}
	.katalog-list__item {
	    width: 50%;
	}
	.help__inner:after {
		display: none;
	}
	.help__body {
	    width: 100%;
	    max-width: 100%;
	}
	.help__inner {
	    min-height: 500px;
	}
	.footer__addresses,
	.footer__details {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.footer__schedule {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 50px;
	}
}

@media screen and (max-width:650px){
	.partners__item {
	    min-height: 138px !important;
	}
}

@media screen and (max-width:600px){
	.related .slick-slide {
	     display: block !important; 
	}
	.related__image {
	    width: 100%;
	}
	.related__ad-cover {
	    width: 100%;
	    padding-bottom: 50px;
	}
	.product__action {
		position: absolute;
	}
	.related__content {
	    padding-top: 0;
	}
	.footer__inner {
	    padding: 50px 0;
	}
	.footer__info {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 40px;
	}
	.footer__nav {
	    width: 100%;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
	.footer__menu {
	    width: 50%;
	    padding-right: 10px;
	}
	h1, h2, .title {
	    text-align: center;
	}
	.banner__title {
	    font-size: 24px;
	}
	.banner__title span {
	    padding: 8px 15px;
	    line-height: 120%;
	}
	.banner__inner {
	    min-height: 210px;
	    padding: 30px 15px;
	}
}

@media screen and (max-width:550px){
	.advantages__img {
	    margin: 0 auto;
	}
	.cities__ul {
	    -moz-column-count: 2;
	    -webkit-column-count: 2;
	    column-count: 2;
	}
	.footer__land-inner {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    text-align: center;
	}
	.footer__wr-copyright,
	.footer__links {
		width: 100%;
	    text-align: center;
	}
	.footer__politic {
	    margin: 3px auto;
	}
	.footer__addresses,
	.footer__calls {
		text-align: center;
	    margin-bottom: 40px;
	}
	.help__title {
	    margin-bottom: 40px;
	}
}
@media screen and (max-width:500px){
	.product__buy {
	    width: 33.333%;
	}
	.product__buy span {
	    width: 20px;
	    padding-left: 20px;
	    text-indent: 100px;
	    overflow: hidden;
	}
	.product__action-ico {
	    width: 33.333%;
	}
	.product__content {
	    padding: 0 10px 20px;
	}
	.product__prices {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.product__new-price {
		width: 100%;
	    font-size: 16px;
	    margin-right: 0;
	    margin-bottom: 3px;
	}
	.product__old-price {
	    font-size: 14px;
	}
	.product__wr-img {
	    height: 150px;
	}
	.product__img {
	    max-height: 150px;
	}
	.product__image {
	    padding: 15px 0 20px;
	}
	.katalog-list__inner {
		border-left: none;
	    padding-bottom: 65px;
	}
	.katalog-list .slick-list {
		border-left: 1px solid #e5e7e4;
	}
	.katalog-list__inner .slick-arrow {
	    background-color: #25942c;
	}
	.katalog-list__inner .slick-next {
	}
	.katalog-list__inner .slick-track {
	    display: flex !important;
	}
	.katalog-list__inner .slick-slide {
	   height: inherit !important;
	}
	.subscribe__wrap {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	input.subscribe__input {
	    width: 100%;
	    margin-bottom: 15px;
	}
	input.subscribe__submit {
		width: 100%;
	}
	.head-top__call {
	    margin-right: 0;
	}
	.head-top__log {
		display: none;
	}
	.head-mid__wrap {
	    margin-left: 0;
	}
	.head-mid__push {
	    margin: 0;
	}
	.head-mid__basket {
	    margin-left: 12px;
	}
	.head-top--tune {
	    padding: 6px 0;
	}
	.head-top__phone {
	    font-size: 12px;
	}
	.head-top__call {
	    font-size: 12px;
	}
	.banner__title {
	    max-width: 100%;
	    text-align: center;
	}
}
@media screen and (max-width:450px){
	.rev-wrcount {
	    margin-top: 5px;
	}
	.help__title {
	    font-size: 22px;
	}
	input.help__input {
	    margin-bottom: 15px;
	}
	.help__inner {
	    min-height: 450px;
	}
}

@media screen and (max-width:400px){
	.footer__menu-title {
	    font-size: 16px;
	    margin-bottom: 20px;
	}
	header nav .menu_container .menu_wrapper .footer .phone {
	    font-size: 15px;
	}
	.menu_container .menu_wrapper .footer .btn {
	    font-size: 11px;
	}
}

