Иконки

.footer-top__soc-common {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    border: 1px solid #a3c6fd;
    border-radius: 25px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
}

.footer-top__vk {
    background-image: url(../images/vk-icon-white.svg);
}

.head-top__phone:before {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(images/icons/call.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    margin-top: -6px;
}


Неразрывный пробел &nbsp;
<nobr></npbr>


    color: #0b0d0a;
    font-size: 16px;
    font-weight: 600;



.xs_flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.xs_flex.xs_inline{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
.xs_flex.xs_top{
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.xs_flex.xs_middle{
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
}
.xs_flex.xs_bottom{
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.xs_flex.xs_wrap{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.xs_flex.xs_center{
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.xs_flex.xs_start{
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.xs_flex.xs_end{
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.xs_flex.xs_column{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.xs_flex.xs_column_reverse{
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.xs_flex.xs_reverse{
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
.xs_flex.xs_top{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}