@font-face {
	font-family: 'Panton';
	src: local('Panton-Regular'),
		url('Panton-Regular.woff2') format('woff2'),
		url('Panton-Regular.woff') format('woff'),
		url('Panton-Regular.ttf') format('truetype'),
		url('Panton-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Panton';
	src: local('Panton-Semibold'),
		url('Panton-Semibold.woff2') format('woff2'),
		url('Panton-Semibold.woff') format('woff'),
		url('Panton-Semibold.ttf') format('truetype'),
		url('Panton-Semibold.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: 'Panton';
	src: local('Panton-Bold'),
		url('Panton-Bold.woff2') format('woff2'),
		url('Panton-Bold.woff') format('woff'),
		url('Panton-Bold.ttf') format('truetype'),
		url('Panton-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
    font-display: swap;
}








